* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(60deg, #1B103E, #8760FF);
}

header,
main {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    height: auto;
    position: relative;
    overflow: hidden;
    border: none;
    background-color: rgb(0, 14, 40, 50%);
    /* background-color: #061024; */
}


.header-bg {
    width: 100%;
    height: auto;
    /* box-shadow: 0 4px greenyellow; */

}

.home {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
}

.pop-up {
    width: 100%;
    height: 45px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: aliceblue;
    border-bottom: 1px solid white;
}

.pop-up>div {
    width: auto;
    margin-right: 80px;
    /* border: 1px solid blue; */
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pop-up>div>img {
    padding-right: 10px;
}

.navbar {
    width: 90%;
    height: auto;
    margin: auto;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;

}

.navbar>a>img {

    width: 100px;
    height: 100px;
}

.nav-links>ul {
    display: flex;
    margin-right: 10px;
}

.nav-links>ul>li {
    width: 150px;
    text-align: center;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: medium;
    list-style: none;

}


.nav-links>ul>li>a {
    color: white;
    text-decoration: none;
}

.nav-links>ul>li>a:hover {
    color: aqua;
    text-decoration: underline;
}

.Welcome-section {
    width: 100vw;
    height: auto;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    /* position: relative; */
    overflow: hidden;

}

.Welcome-section::before {
    background-image: url("./Images/WelcomeSectionBg100.jpg");
    background-size: cover;
    background-position: center center;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
}

/* .Welcome-section>img {
    width: 100%;
    height: 100%;
    opacity: 50%;
} */

.Welcome-section>div {
    /* border: 1px solid black; */
    /* position: absolute; */
    /* top: 0; */
    width: 100%;
    margin: 50px 0 60px 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Welcome-section>div>div {
    /* border: 1px solid green; */
    display: flex;
    /* border: 1px solid blue; */
    align-items: self-start;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    /* border: 1px solid lightcoral; */



}

.Welcome-section>div>div>div {
    width: 45%;
    height: 100%;
    margin-left: 50px;
    /* border: 1px solid red; */

}

.Welcome-section>div>div>div>h2 {
    font-size: 30px;
    font-family: 'ROG fonts';
    color: white;
    margin-top: 50px;
    margin-bottom: 25px;

}

.Welcome-section>div>div>div>h3 {
    font-size: 25px;
    font-family: Montserrat;
    color: white;
    font-weight: medium;
    margin-bottom: 25px;
}

.Welcome-section>div>div>div>button {
    margin-top: 25px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
}

.Welcome-section>div>div>img {
    width: 45%;
    /* border: 1px solid red; */
    height: auto;

}

.Service-section>h2 {
    font-family: 'ROG fonts';
    margin: auto;
    text-align: center;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

.Service-section>p {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    font-family: Montserrat;
    padding: 20px 0;
    color: white;
}

.service-items {
    width: 90vw;
    height: 400px;
    /* border: 1px solid violet; */
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}

.serv-Info-Wrapper {
    width: 50%;
    /* border: 3px solid brown ; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.serv-Info {
    width: 100%;
    display: flex;
    flex-direction: column;


}

.serv-Info>h3 {
    font-size: 25px;
    margin: 10px 0 0 0;
    font-family: Montserrat;
    font-weight: 700;
}

.serv-Info>div>h4 {
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 600;
    margin: 10px 0;
}

.serv-Info>div>p {
    font-size: 20px;

    font-family: Montserrat;
    font-weight: 500;
    margin: 20px 0;
}

.serv-Info>button {
    width: 200px;
    height: 50px;
    border: 1px solid white;
    /* border-radius: 5px; */
    background: transparent;
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.serv-Info>button:hover {
    background-color: white;
    color: purple;
}

.imgimg {
    width: 50%;
    height: 400px;
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgimg>img {

    max-width: 100%;
    max-height: 100%;
    /* border: 3px solid pink; */
}

.content-hub {
    width: 100vw;
    height: 950px;
    background: #82e1ff;
    /* border: 2px solid lime; */
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
}

.content-hub>div {
    position: relative;
    width: 100%;
    height: 99%;
    /* overflow-y: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #30059d;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);


}

.content-hub>div>img {
    width: 100%;
    height: 100%;
    opacity: 70%;
}

.cH-wrapper {
    /* border: 10px solid purple; */
    width: 100%;
    height: auto;
    position: absolute;
    /* top: 0; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto;
}

.cH-wrapper>h4 {
    font-family: "ROG fonts";
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
}

.cH-wrapper>p {
    font-family: MontSerrat;
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
}

.cH-wrapper>div {
    width: 100%;
}

.CH-Contents {
    margin-top: 20px;
    width: 80vw;
    height: auto;
    /* border: 1px solid blue; */
    /* overflow-x: scroll; */
}

.CH-Contents>div {
    /* width: 750px;
    height: 375px;
    background: white;
    margin: 10px; */
    border-radius: 10px;
    width: 950px;
    height: 475px;
    background-color: white;
    text-align: center;
    margin: auto auto;

}

.buttons {
    width: 100px;
    height: 10px;
    display: flex;
    justify-content: space-evenly;
}

.buttons>div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}

.content-hub>div>div>button {
    border: 2px solid white;
    border-radius: none;
    background: transparent;
    color: white;
    width: 180px;
    height: 60px;
    margin-top: 20px;
    font-family: MontSerrat;
    font-size: 20px;
}

.contact-section {
    width: 100vw;
    height: auto;
}

.contact-section>h2 {
    text-align: center;
    font-family: "ROG fonts";
    font-size: 25px;
    color: white;
    margin-top: 20px;
}

.contact-section>form {
    /* border: 1px solid pink; */
    width: 800px;
    margin: auto;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.contact-section>form>div {
    display: flex;
    flex-direction: column;
}

.contact-section>form>div>input {
    margin: auto;
    margin-top: 20px;
    width: 800px;
    height: 40px;
    background: transparent;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    font-family: Montserrat;
    font-size: 20px;
}

.contact-section>form>button {
    width: 200px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    border: none;
    font-family: Montserrat;
    font-size: 22px;

}

footer {

    width: 100vw;
    height: auto;
    background: #005c79;
    position: relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%)
}

footer>div {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
}

.f-services>h6 {
    font-size: 25px;
    font-family: Montserrat;
    color: white;
}

.f-services>div {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    margin-top: 10px;
}

.f-services>div>a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 300;
    margin-top: 8px;
    font-family: Montserrat;
}

.f-top {

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid yellow; */
}

.f-top>p {
    color: white;
    font-size: 40px;
    font-family: Montserrat;
    margin-right: 10px;
}

.f-top>div>p {
    color: white;
    font-size: 20px;
    font-family: Montserrat;

}

.f-mid>p {
    font-size: 60px;
    color: white;
    font-family: Montserrat;
    font-weight: 700;
    /* border: 1px solid yellow; */
    padding: 0px;
}

.f-btm {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.copyRight {
    text-align: center;
    color: white;
    font-family: Montserrat;
    font-size: 18px;
}

@media (max-width:1200px) {


    .Welcome-section>div>div>div>h2 {
        margin-top: 0px;
    }

    .Welcome-section>div>div>div {
        margin-left: 0px;
    }

    .Welcome-section>div>div>div>h2 {
        font-size: 25px;
        text-align: justify;
    }

    .Welcome-section>div>div>div>h3 {
        font-size: 22px;
        /* text-align: justify; */
    }

    .Welcome-section>div>div>div>button {
        margin-top: 0;
    }

    .Service-section>h2 {
        font-size: 25px;
        margin-bottom: 25px 0;
    }

    .Service-section>p {
        font-size: 22px;
    }

    .serv-Info>h3 {
        font-size: 22px;
        margin-bottom: 10px;
        /* text-align: justify; */
    }

    .serv-Info {
        /* border: 1px solid blue; */
    }

    .imgimg {
        /* border: 1px solid blue; */
    }

    .serv-Info>div>h4 {
        font-size: 20px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .serv-Info>div>p {
        font-size: 18px;
        margin-top: 10px;
    }

    .serv-Info>button {
        margin-top: 0;
    }

    .CH-Contents>div {
        width: 750px;
        height: 375px;
    }




}

@media (max-width:900px) {

    .Welcome-section>div>div {
        /* border: 1px solid yellow; */
        flex-direction: column-reverse;
    }

    .Welcome-section>div>div>div {
        /* border: 1px solid yellow; */
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 10px;
    }

    .Welcome-section>div>div>img {
        /* border: 1px solid rebeccapurple; */
        width: 60%;
    }

    .Service-section>h2 {
        margin: 25px 0;
    }

    .service-items {
        flex-direction: column-reverse;
        /* border: 1px solid white; */
    }

    .service-items-reverse {
        flex-direction: column;
    }


    .serv-Info-Wrapper {
        /* border: 1px solid yellow; */
        width: 100%;
        padding: 5px;

    }

    .serv-Info>button {
        text-align: center;
        margin: auto auto;
    }

    .imgimg {
        border: 1px solid white;
        border-top: 1px solid white;
        width: 100%;
    }

    .serv-Info>h3 {
        /* margin: auto auto; */
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }

    .serv-Info>div>h4 {
        text-align: center;
    }

    .serv-Info>div>p {
        text-align: justify;
    }

    .CH-Contents>div {
        width: 500px;
        height: 300px;
    }

    .cH-wrapper>h4 {
        margin-top: 0;
    }

    .contact-section>h2 {
        width: 90vw;
        margin: 20px auto;
    }

    .contact-section>form>div>input {
        width: 530px;
    }

    .contact-section>form>div>input::placeholder {
        font-size: 18px;
    }

    .contact-section>form {
        width: 100vw;
    }





    footer>div {
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 50px;
    }

    .f-services {
        width: 90vw;
        margin: auto auto;
        margin-bottom: 30px;
    }

    .f-services>div {
        margin-top: 0;
    }

    .f-services>h6 {
        margin-top: 8px;
        margin-bottom: 20px;
    }

    .f-contact-links {
        width: 90vw;
        margin: auto auto;
        margin-bottom: 30px;
    }

    .f-top {
        justify-content: space-between;
    }

    .f-btm {
        width: 250px;
    }

    .pop-up {
        display: none;
    }
}